{{! template-lint-disable no-inline-styles }}
<div class="ember-color-palette-item__color" style={{this.style}}></div>
<div class="ember-color-palette-item__info">
  <p class="ember-color-palette-item__hex">{{@color.base}}</p>
  <p class="ember-color-palette-item__name">{{@color.name}}</p>
</div>
